.monoton-regular {
  font-family: "Monoton", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.jetbrains-mono {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.nova-round-regular {
  font-family: "Nova Round", system-ui;
  font-weight: 400;
  font-style: normal;
}

.varela-round-regular {
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.playwrite-gb-s-guides-regular {
  font-family: "Playwrite GB S Guides", cursive;
  font-weight: 400;
  font-style: normal;
}

.playwrite-gb-s-guides-regular-italic {
  font-family: "Playwrite GB S Guides", cursive;
  font-weight: 400;
  font-style: italic;
}

.ole-regular {
  font-family: "Ole", cursive;
  font-weight: 400;
  font-style: normal;
}

.dancing-script {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
