* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.hero {
  padding: 100px 10vw 20px 10vw;
}

.hero span {
  font-size: 3rem;
}

.hero p {
  font-size: 1.3rem;
  padding: 10px 0 20px 0;
}

.hero em {
  font-size: 0.85rem;
}

@media (max-width: 678px) {
  .hero {
    padding: 20px;
  }
}
