* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.hero {
  padding: 100px 10vw 20px 10vw;
}

.hero span {
  font-size: 3rem;
}

.hero p {
  font-size: 1.2rem;
  padding: 7px 0 12px 0;
}

.hero em {
  font-size: 0.85rem;
}

.form {
  padding: 20px 10vw;
}

.form .who-you-are form {
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 20px;
}

.form .who-you-are form p {
  padding: 10px 0;
  font-size: 1.2rem;
}

.form .who-you-are form label {
  padding: 0 0 10px 0;
}

.form .who-you-are form label small {
  color: red;
}

.form .who-you-are .inputs {
  display: flex;
  flex-direction: column;
  padding: 10px 0 5px 0;
}

.form .who-you-are .inputs input {
  padding: 0 12px;
  height: 36px;
  outline: none;
  border: none;
  border-bottom: 1px solid #006edb;
}

.form .who-you-are .inputs select {
  height: 35px;
  padding: 0 12px;
  background: none;
  outline: none;
  border: none;
  border-bottom: 1px solid #006edb;
  font-family: "Inter", sans-serif;
}

.form .who-you-are .code label {
  padding-bottom: 5px;
}

.form .who-you-are .code em {
  padding-bottom: 12px;
}

.form .who-you-are .inputs input:valid {
  border-bottom-color: green;
}

.form .who-you-are .inputs .options p {
  font-size: 1rem;
  padding: 3px 0;
}

@media (max-width: 678px) {
  .hero {
    padding: 20px;
  }
  .form {
    padding: 20px;
  }
}
