@font-face {
  font-family: "poppin-regular";
  src: url(poppins/Poppins-Regular.ttf);
  font-display: swap;
}

@font-face {
  font-family: "Poppins-Light";
  src: url(poppins/Poppins-Light.ttf);
  font-display: swap;
}

@font-face {
  font-family: "Poppins-Bold";
  src: url(poppins/Poppins-Bold.ttf);
  font-display: swap;
}

@font-face {
  font-family: "Poppins-ExtraLight";
  src: url(poppins/Poppins-ExtraLight.ttf);
  font-display: swap;
}
